.post {
  padding-top: 40px;
  padding-bottom: 100px;
}

.post_text {
  font-size: 16px;
  line-height: 22.4px;
  color: #525458;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.post_container .post_text::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  background-image: url("../../images/arrow3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
  border: 1px solid #525458;
  border-radius: 50%;
  margin-right: 6px;
}

.post_title {
  font-size: 46px;
  line-height: 64.4px;
  margin-bottom: 40px;
}

.post_title__inner {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 14px;
}

.post_text__inner {
  font-size: 16px;
  line-height: 20.16px;
  color: #334155;
  margin-bottom: 24px;
}

.post_block__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.post_img__box {
  position: relative;
  max-width: 220px;
  width: 100%;
}

.post_basket__btn {
  position: absolute;
  background-image: url(../../images/basket.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 90px;
  right: 90px;
  display: none;
}

.post_img__box:hover .post_basket__btn {
  display: inline-block;
}

.post_img {
  width: 100%;
  height: 220px;
  border-radius: 30px;
}

.add_content {
  border: 1px solid #334155;
  border-radius: 30px;
  position: relative;
}

.add_content__btn {
  width: 80px;
  height: 80px;
  border: 1px solid #334155;
  position: absolute;
  right: 70px;
  top: 70px;
  border-radius: 50%;
}

.post_span__vertical {
  height: 34px;
  width: 1px;
  background-color: #334155;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 49%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.post_span__horizontal {
  width: 34px;
  height: 1px;
  background-color: #334155;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.post_text__sub,
.post_label {
  font-size: 16px;
  line-height: 20.16px;
  color: #334155;
  margin-bottom: 60px;
}

.post_form {
  margin-bottom: 60px;
}

.post_form .post_title {
  margin-bottom: 24px;
}

.post_content {
  margin-bottom: 40px;
}

.post_textarea__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post_label {
  margin-bottom: 14px;
}

.post_textarea {
  max-width: 600px;
  width: 100%;
  height: 80px;
  outline: none;
  border: 1px solid #d4dde8;
  border-radius: 30px;
  padding: 13px 24px;
  resize: none;
}

.post_textarea2 {
  height: 300px;
}

.post_btn__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post_delete,
.post_save {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  padding: 12px 60px;
  border-radius: 30px;
  color: #ffffff;
}

.post_delete {
  background-color: #c8040a;
  margin-right: 24px;
}

.post_save {
  background-color: #ffc107;
}
