.cars {
  padding-top: 40px;
  padding-bottom: 100px;
}

.cars_container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cars_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.cars_list a {
  color: #1a2b47; /* Blue color for "Главная страница" */
  text-decoration: none;
  cursor: pointer;
}

.cars_list a:hover {
  text-decoration: underline;
}

.cars_list .arrow {
  width: 7px;
  height: 14px;
  background-image: url("../../images/arrow2.svg");
  background-repeat: no-repeat;
  background-size: 7px 14px;
  background-position: center center;
  margin-left: 8px;
  margin-right: 8px;
}

.cars_list .news {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.64px;
  color: #334155;
}

.cars_data,
.cars_title {
  text-align: center;
}

.cars_data {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #334155;
}

.cars_title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 42.84px;
}

.cars_text {
  max-width: 958px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.cars_img__box {
  margin-bottom: 40px;
}

.cars_list__sub {
  margin-bottom: 24px;
}

.cars_text,
.cars_text__average,
.cars_item,
.cars_text__lower {
  font-size: 16px;
  line-height: 22.4px;
  color: #334155;
}

.cars_item {
  list-style: inside;
}

@media screen and (max-width: 600px) {
  .cars {
    padding-top: 14px;
    padding-bottom: 60px;
  }

  .cars_list .news {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.12px;
  }

  .cars_data,
  .cars_title {
    text-align: start;
  }

  .cars_data {
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 14px;
  }

  .cars_title {
    font-size: 20px;
    line-height: 25.2px;
    margin-bottom: 24px;
  }

  .cars_text {
    margin-bottom: 24px;
  }

  .cars_img__box {
    margin-bottom: 24px;
  }

  .cars_text__average,
  .cars_list__sub {
    display: none;
  }
}

.posts {
  padding-bottom: 100px;
}

.posts_title {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 64.4px;
  margin-bottom: 40px;
}

.posts_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.posts_img__box {
  margin-bottom: 14px;
  max-height: 280px;
  height: 100%;
}

.posts_content {
  max-width: 390px;
  width: 100%;
}

.posts_title__sub {
  font-size: 20px;
  line-height: 25.2px;
}

.posts_title__sub {
  margin-bottom: 24px;
}

.posts_box:nth-child(1) .posts_title__sub {
  margin-bottom: 49px;
}

.posts_text {
  font-size: 16px;
  line-height: 22.4px;
  color: #334155;
}

@media screen and (max-width: 600px) {
  .posts_box:nth-child(1) .posts_title__sub {
    margin-bottom: 16px;
  }

  .posts_title__sub {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20.16px;
  }

  .posts_text {
    font-size: 14px;
    line-height: 19.6px;
  }
}
