.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #255cd2;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_logo {
  width: 77px;
  margin-right: 40px;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_item,
.footer_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  color: #ffffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.footer_link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 810px) {
  .footer_logo {
    margin: 0;
  }

  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .footer_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 14px;
  }
}
