.hangan {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hangan_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 14px;
  -moz-column-gap: 14px;
  column-gap: 14px;
}

.hangan_img__box {
  max-width: 600px;
  width: 100%;
}

.hangan_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  color: #334155;
  margin-bottom: 14px;
}

.hangan_title {
  max-width: 506px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 40px;
}

.hangan_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 51px;
  border-radius: 30px;
  background-color: #255cd2;
  color: #ffffff;
}

@media screen and (max-width: 1164px) {
  .hangan {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hangan_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 28px;
  }

  .hangan_img__box {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .hangan {
    padding-top: 16px;
  }

  .hangan_container {
    row-gap: 16px;
  }

  .hangan_img__box {
    max-width: 100%;
  }

  .hangan_text {
    font-size: 14px;
    line-height: 17.64px;
    margin-bottom: 14px;
  }

  .hangan_title {
    max-width: 100%;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 24px;
  }

  .hangan_btn {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.page {
  padding-bottom: 40px;
}

.page_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
}

.page_box {
  max-width: 390px;
  width: 100%;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out;
  border: 0.5px solid #c4c4c4;
}

.page_box a {
  color: black;
}

.page_img__box {
  margin-bottom: 2px;
  border-radius: 50px;
}

.page_img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.page_title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 25.2px;
  padding: 0 5px;
  margin-bottom: 24px;
}

.page_short {
  margin-bottom: 49px;
}

.page_text {
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: none;
  color: #7e7e7e;
  padding: 5px 5px 3px 5px;
}

@media screen and (max-width: 834px) {
  .page_short {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding-bottom: 24px;
  }

  .page_box {
    max-width: 100%;
  }

  .page_img__box {
    max-width: 100%;
  }

  .page_title {
    font-size: 16px;
    line-height: 20.16px;
    margin-bottom: 16px;
  }

  .page_text {
    font-size: 14px;
    line-height: 19.6px;
  }
}
